{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<!--    fontousen -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'admin_page/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'admin_page/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'admin_page/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'admin_page/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin_page/css/navbar.css' %}">


    <title>User Tabel</title>
  </head>
  <body>
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin Companiy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">11</span>
          </i>
          Link
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">11</span>
          </i>
          Disabled
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span class="badge badge-primary">11</span>
          </i>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info">11</span>
          </i>
          Test
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-globe">
            <span class="badge badge-success">11</span>
          </i>
          Test
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
   </nav>
     <div class="content">

    <div class="container">
      <h2 class="mb-5">Список резюме</h2>


      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>

              <th scope="col">ID</th>
              <th scope="col">Имя</th>
              <th scope="col">Направление</th>
              <th scope="col">Контакт</th>
              <th scope="col">Резюме</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for item in rctg %}
    <tr scope="row">
        <td>{{ item.id }}</td>
        <td><a href="#">{{ item.full_name }}</a></td>
        <td>
            Web Designer
            <small class="d-block">Far far away, behind the word mountains</small>
        </td>
        <td>{{ item.phone_number }}</td>
          {% endfor %}
        <td><i href="{{ item.resume }}" class="fa fa-file" style="font-size:24px; padding-left: 20px;"></i></td>
        <td><a href="#" class="more">Удалить</a></td>
        <td><a href="#" class="more">Обновление</a></td>
        <td><a href="#" class="more">Пригласить</a></td>
    </tr>



          </tbody>
        </table>
      </div>


    </div>

  </div>
<div class="futter-continer" style="color: ">
<footer class="bg-body-tertiary text-center" >
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
  </div>

    <script src="{% static 'admin_page/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'admin_page/js/popper.min.js' %}"></script>
    <script src="{% static 'admin_page/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin_page/js/main.js' %}"></script>
  </body>
</html>



