{% extends 'main/layout.html' %}

{% block title %} Bosh Sahifa {% endblock%}

{% block content %}

  <div class="container_lu h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9" style="width: 40%; !important">

        <h1 class="text-white mb-4">Подать заявление о приеме на работу</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
        </p>
      </div>

          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
